body {
  background-color: #fdf0e9;
  height: 100%;
}
.header {
  &__div {
    background-color: var(--primary-color);
    height: 5rem;
    width: 100%;
  }
}

.main {
  &__titleColor {
    background-color: var(--primary-color);
  }

  &__titleColor2 {
    background-color: #fdf0e9;
  }
}
